<table style="height: 231px;" width="181" height="231" border="1">
<tbody>
<tr>
<td style="width: 171px;">
<p>
<span style="font-size: 6px;">
<img src="http://www.discotecarecords.com/theme/theme/placeholders/logo33.png" alt="" width="180" height="49" />
</span><span style="font-size: 6px;">Discoteca Records una divisi&oacute;n de Desarrollo Guirao &amp; Camino SL</span></p>
<p><span style="font-size: 6px;">Ref: #[query:0:id]</span></p>
<p><span style="font-size: 6px;">Fecha: [query:0:fecha]</span><br /><span style="font-size: 6px;">Envio a: [query:0:nombre] </span><br /><span style="font-size: 6px;">Direcci&oacute;n: [query:0:direccion]</span><br /><span style="font-size: 6px;">Ciudad: [query:0:ciudad]</span><br /><span style="font-size: 6px;">Provincia: [query:0:provinci]</span><br /><span style="font-size: 6px;">ZIP: [query:0:codigo_postal]</span><br /><span style="font-size: 6px;">Tel&eacute;fono: [query:0:telefono]</span></p>
</td>
</tr>
</tbody>
</table>
<p></p>